<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.performance.mapper.AlertRuleMapper">

    <resultMap id="BaseResultMap" type="org.example.performance.pojo.po.AlertRule">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="metricName" column="metric_name" jdbcType="VARCHAR"/>
        <result property="metricDesc" column="metric_desc" jdbcType="VARCHAR"/>
        <result property="errorValue" column="error_value" jdbcType="DECIMAL"/>
        <result property="warningValue" column="warning_value" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,metric_name,metric_desc,
        error_value,warning_value
    </sql>
</mapper>
