<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.performance.mapper.ContainerMetricsMapper">

    <resultMap id="BaseResultMap" type="org.example.performance.pojo.po.ContainerMetrics">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="containerId" column="container_id" jdbcType="VARCHAR"/>
            <result property="cpuRate" column="cpu_rate" jdbcType="DOUBLE"/>
            <result property="restartTime" column="restart_time" jdbcType="TIMESTAMP"/>
            <result property="state" column="state" jdbcType="VARCHAR"/>
            <result property="memUsedSize" column="mem_used_size" jdbcType="DECIMAL"/>
            <result property="diskUsedSize" column="disk_used_size" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,container_id,cpu_rate,
        restart_time,state,mem_used_size,
        disk_used_size
    </sql>
    <insert id="insertBatch">
        insert into container_metrics(id,container_id,cpu_rate,
        restart_time,state,mem_used_size,
        disk_used_size,update_time)
        values
        <foreach collection="containerMetricsCollection" item="item" separator=",">
            (#{item.id,jdbcType=NUMERIC},#{item.containerId,jdbcType=VARCHAR},#{item.cpuRate,jdbcType=DECIMAL},
            #{item.restartTime},#{item.state,jdbcType=VARCHAR},#{item.memUsedSize,jdbcType=DECIMAL},
            #{item.diskUsedSize,jdbcType=DECIMAL},#{item.updateTime})
        </foreach>
    </insert>
</mapper>
