<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.performance.mapper.HostMetricsMapper">

    <resultMap id="BaseResultMap" type="org.example.performance.pojo.po.HostMetrics">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="hostId" column="host_id" jdbcType="INTEGER"/>
            <result property="mem" column="mem" jdbcType="DECIMAL"/>
            <result property="byteIn" column="byte_in" jdbcType="DECIMAL"/>
            <result property="hostLoad" column="host_load" jdbcType="DECIMAL"/>
            <result property="cpu" column="cpu" jdbcType="DECIMAL"/>
            <result property="disk" column="disk" jdbcType="DECIMAL"/>
            <result property="tcp" column="tcp" jdbcType="DECIMAL"/>
            <result property="memRate" column="mem_rate" jdbcType="DECIMAL"/>
            <result property="io" column="io" jdbcType="DECIMAL"/>
            <result property="inode" column="inode" jdbcType="DECIMAL"/>
            <result property="byteOut" column="byte_out" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,host_id,mem,
        byte_in,host_load,cpu,
        disk,tcp,mem_rate,
        io,inode,byte_out
    </sql>
</mapper>
